{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шанс выгорания сотрудников</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>

<h1>Список сотрудников и шанс выгорания</h1>

<!-- Добавлен блок для отображения категорий -->
<div id="categories" class="btn-container">
    <button_low onclick="showCategory('low-risk')">Низкий шанс</button_low>
    <button_avg onclick="showCategory('medium-risk')">Средний шанс</button_avg>
    <button_big onclick="showCategory('high-risk')">Высокий шанс</button_big>
</div>

<!-- Добавлен блок для отображения списка сотрудников -->
<div id="employees" style="display: none;">
    <!-- <button_back onclick="goBack()">Назад</button_back> -->
    <button_back id="backButton">Назад</button_back>
    <table id="table_cat">
        <thead>
            <tr>
                <th>ФИО сотрудника</th>
                <th>Шанс выгорания</th>
            </tr>
        </thead>
        <tbody id="employeesList">
            <!-- Сюда будет добавлен список сотрудников по выбранной категории -->
        </tbody>
    </table>
</div>

<script src="{% static 'main/main.js' %}"></script>

</body>
</html>
